<center>
<h2>recommend number</h2>
    <%@numbers.each do |number| %>
        <%= image_tag number.to_s + ".jpg" %>
    <%end%>

<h2>bonus Number</h2>
    <%= image_tag @bonus.join("") + ".jpg" %>
    
<br>
<button type="submit" class="btn btn-default" style="margin-top:20px;">SAVE</button>
<button type="button" id="reload" class="btn btn-lg btn-primary">AGAIN</button>
</center>
<script>
    $('#reload').click(function(){
        location.reload();
    })
        
</script>
